<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.tuxship.quickshare"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:name=".Httpd"
            android:enabled="true" >
        </service>

        <service
            android:name=".TokenDatabase"
            android:enabled="true" >
        </service>
        

        <activity
            android:name=".ShareOverviewActivity"
            android:label="@string/title_activity_share_overview" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name=".CreateShareActivity"
            android:label="@string/title_activity_create_share" >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <!-- <data android:scheme="content" />
                <data android:scheme="file" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- <action android:name="android.intent.action.SEND_MULTIPLE" /> -->

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*"/>
            </intent-filter>
            <!-- <intent-filter>
                <action android:name="android.intent.action.SENDTO" />
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data android:scheme="content" />
                <data android:scheme="file" />
            </intent-filter> -->
        </activity>
        
        <activity
            android:name=".ShareDetailsActivity"
            android:label="@string/title_activity_share_details" >
        </activity>
    </application>

</manifest>
