
/* Colors
 * 
 * header & footer background
 * 	#1b4d51
 *
 * background
 *	#acc1c1
 *
 */

body {
	background: #acc1c1;
}

#token {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 1em;
}

#files {
	width: 60%;
	margin: 0 auto;
	text-align: left; 
}

#header {
	position: absolute;
	top: 0px;
	color: white;
	background: #1b4d51;
	height: 6em;
	width: 100%;
	text-align: center;
}

#content {
	position: absolute;
	top: 6em;
	bottom: 6em;
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top: 1em;
}

#footer {
	position: absolute;
	bottom: 0px;
	background: #1b4d51;
	color: white;
	height: 6em;
	width: 100%;
	text-align: center;
}